.title {
}

.size-20px {
  font-size: 20px;
  color: #302f2f;
}
.size-28px {
  font-size: 28px;
  color: #302f2f;
}
.size-34px {
  font-size: 34px;
  color: #302f2f;
}
.size-38px {
  font-size: 38px;
  color: #302f2f;
}
