.authLayout {
  margin: 0 auto;
  padding: 20px 30px;
  border-radius: 10px;
  background: #fff;
  max-width: 500px;
  box-shadow: var(--shadowLight);
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

