.fullPostPage {
  position: relative;
  min-height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  gap: 50px;

  @media (max-width: 992px) {
    flex-direction: column;
    gap: 30px;
  }
}

.spinner {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.post {
  width: 100%;
  max-width: 800px;

  @media (max-width: 992px) {
    max-width: 100%;
  }
}
.sidebarBoxLayout {
  align-self: flex-start;
  width: 100%;
  max-width: 300px;

  @media (max-width: 992px) {
    max-width: 100%;
  }
}
