.homePage {
  position: relative;
  min-height: 100vh;
  padding-top: 30px;
  padding-bottom: 50px;
}

.spinner {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.wrap {
  display: flex;
  gap: 50px;

  @media (max-width: 992px) {
    gap: 0;
  }
}

.sortList {
  margin-bottom: 20px;
}

.listOfPosts {
  max-width: 800px;

  @media (max-width: 992px) {
    max-width: 100%;
  }
}
.sidebar {
  align-self: start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 300px;

  @media (max-width: 992px) {
    display: none;
  }
}

.btn {
  text-align: center;
  margin-top: 50px;
}
